:root {
    --primary-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --font-family:  'Poppins';
    --second-font-family:'Playfair Display';
  }
  
  body {
    /* margin: 100px 0; */
    max-width: 100%;
  }
  
  
  h2,
  h3 {
    text-align: center;
    margin: 0;
  }

  .hero{
    background-color: #F9F7FE;
    padding: 160px 20px;
    margin: 0px;
  }

  .p-text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
  }

  
  .hero h1 {
    font-size: 96px;
    font-family: var(--second-font-family) ;
    font-weight: 700;
    text-align: center;
    margin: 0;
  }
  
  .hero h2{
    font-size: 35px;
   color: #272142; 
   font-family: var(--font-family);
   line-height: 54px;
   font-weight: 700;
  }
  
  .hero h3 {
    font-size: 24px;
    opacity: 0.7;
    font-family:var(--font-family);
    font-weight: 400;
    line-height: 36px;
    color: #272142;
  }

  .app-name{
    font-weight: 700;
    font-size: 60px;
    font-family: var(--second-font-family);
  }
  
  .app-p {
    background: var(--secondary-color);
    opacity: 0.7;
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
  }
  
  .navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
  
  .navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  
  .about-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  
  /* .homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
  }
  
  .about-paragraphs {
    display: flex;
    margin: 30px 0;
  }
  
  .about-paragraphs p {
    margin: 10px;
  }
  
  .email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
  }
  
  .email-link:hover {
    text-decoration: underline;
  } */
  
  .yoga-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }

  .text-center{
    background-color: white;
  }
  
  .yoga-link:hover {
    background-color: var(--primary-color);
    color: blue;
  }

  .about{
    margin-top: 100px;
  }
  .about h1{
  font-size: 60px;
  line-height: 85px;
  font-weight: 700;
  font-family: var(--second-font-family);
  }

  .about h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
  }

  .about p{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
  }

  .projects h3{
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
  }

  .projects p{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

  }

  .navbar{
    display: flex;
    justify-content: space-between;
  }

  .navbar a{
    text-decoration: none;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    font-family: var(--font-family);
    color: #272142B2;
  }

  .navbar a:hover{
    color: var(--primary-color)
  }

  .active a{
    color: var(--primary-color);
  }
  
  .navbar li{
    display: inline;
    text-decoration: none;
    margin-right: 30px;
  }

  .navbar ul{
    margin-top: 15px;
    margin-right: 50px;
  }

  .small-logo{
    max-width: 40px;
  } 

  .Shiva-pic img{
    max-width: 350px;
    max-height: 650px;
    border-radius: 20px;
    margin-top: 40px;
    
    }

  .Shiva-pic{
   display: flex;
   justify-content: end;
  }

  .about-email{
    font-family: var(--font-family);
   color: #000;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
  }

  .about-email:hover{
    color: var(--primary-color);
  }

  .social-links i{
    margin: 50px 20px;
    font-weight: 400;
    font-size: 25px;
    line-height: 21px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 20px 20px;
    border-radius: 50%;
  }
  
  .social-links i:hover{
    color: var(--secondary-color);
    background-color: var(--primary-color);
  }
  
  .contact-box{
    display: flex;
    justify-content: space-between;
    margin: 70px 50px;
    padding: 50px 100px;
    border-radius: 20px;
    background-color: var(--secondary-color);
 }

 .contact-text h3{
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  font-family: var(--second-font-family);
  text-align: left;
  margin-bottom: 10px;
 }

 .contact-text p{
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-family: var(--font-family);
 }

 .btn{
   background-color: var(--primary-color);
   padding: 23px 23px;
   margin-top: 25px;
   font-weight: 500;
   font-size: 18px;
   line-height: 27px;
 }
 footer{
   margin-top: 150px ;
 }
  @media (max-width: 576px) { 
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 30px;
  }
  h3{
    font-size: 15px;
  }
  .yoga-link{
   width: 100%;
   padding: 20px 0px 20px 0px;
  }

  .app-name{
    font-size: 44px;
  }

  .about{
    text-align: center;
    margin-top: 0;
  }

  .navbar li{
    margin-right: 10px;
  }

  .Shiva-pic{
    display: block;
  }
  }